@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-light: hsl(0, 0%, 100%);
  --color-base: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 92%);

  --color-heading: hsl(0, 0%, 5%);
  --color-subheading: hsl(0, 0%, 10%);
  --color-body: hsl(0, 0%, 20%);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
  transition: none;
  overflow: visible;
}

html {
  @apply antialiased h-full;
}

body {
  @apply font-body min-w-80 h-full bg-base text-body;
}
